@use 'base/variables' as v;
@use 'base/mixins' as m;

.lugares {
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 90vw);
        gap: v.$separacion;

        @include m.scrollHorizontal;


        @include m.tablet { 
            @include m.grid(2, v.$separacion)
        }

        @include m.desktop { 
            @include m.grid(4, v.$separacion)
        }
    }
}

.lugar {
    &__imagen {
        border-radius: 1rem;
    }

    &__nombre {
        font-size: 1.8rem;
    }
    
}

